@mixin flex($justify: center, $align: center) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
}

@mixin responsive($device: sm) {
	$sm: "(min-width: 640px)";
	$md: "(min-width: 768px)";
	$lg: "(min-width: 1024px)";
	$xl: "(min-width: 1280px)";

	@if $device == sm {
		@media #{$sm} {
			@content;
		}
	} @else if $device == md {
		@media #{$md} {
			@content;
		}
	} @else if $device == lg {
		@media #{$lg} {
			@content;
		}
	} @else if $device == xl {
		@media #{$xl} {
			@content;
		}
	} @else {
		@media (min-width: #{$device}px) {
			@content;
		}
	}
}
