.todo--item {
    @include flex(space-between);
    border-bottom: 2px solid $border-color;
    padding: .8rem;

    &:last-child {
        border-bottom: none;
    }

    .todo--container {
        max-width: calc(100% - 48px);
    }

    .todo--title {
        font-weight: bold;
    }

    .todo--description {
        overflow-wrap: break-word;
    }

    .todo--delete--btn {
        min-width: 48px;
        min-height: 48px;
        padding: 0;
        background-color: transparent;
        border:none;
        cursor: pointer;

        &:focus {
            outline-color: $bg-color;
        }
    }
}